/* Our default values set as CSS variables */
:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "helvetica";
  --font-family-header: "helvetica";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: helvetica;
}
@font-face {
  font-family: helvetica;
  font-weight: bold;
}

body {
  font-family: helvetica;
  background-color: #fcfbf5;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  place-items: top;
  margin: 0 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
}
.contact {
  position: absolute;
  top: 1em;
  right: 1em;
}

.title {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
  padding-top: 2em;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title span:hover {
  background-color: #d3d3d3;
}

.dot-concern {
  height: 10px;
  width: 10px;
  background-color: #f79646;
  border-radius: 50%;
  display: inline-block;
}
.dot-video {
  height: 10px;
  width: 10px;
  background-color: #c0504d;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0;
}
.dot-writing {
  height: 10px;
  width: 10px;
  background-color: #4bacc6;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0;
}
.dot-about {
  height: 10px;
  width: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  display: inline-block;
  margin-top: 0;
}

#myBtnContainer {
  max-height: 50px;
  overflow-y: hidden;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
}

.btn:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.concern-f {
  height: 30px;
  width: 80px;
  float: left;
  background-color: #f79646;
}
.video-f {
  height: 30px;
  width: 80px;
  float: left;
  background-color: #c0504d;
}
.writing-f {
  height: 30px;
  width: 10px;
  float: left;
  background-color: #4bacc6;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  line-height: 1.6;
  text-align: center;
  margin: 5em 0 0;
  align-items: center;
}

.boxes:hover {
  background-color: none;
}

.filterDiv {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  overflow-y: hidden;
  border-radius: 0px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  float: left;
  display: none;
}

.show {
  display: block;
}

.box-about {
  padding: 50px;
  overflow-y: auto;
  border-radius: 25px;
  border: 1px solid #000000;
  background-color:#fcfbf5;
}

.video {
  background-color: #c0504d;
}
.concern {
  background-color: #f79646;
}
.writing {
  padding: 50px;
  background-color: #4bacc6;
}

.boxes img {
  max-width: 75%;
  max-height: 50%;
  overflow: clip;
  overflow-clip-margin: content-box;
  margin: auto;
  display: block;
  border-radius: 0%;
}

.sc-page {
  width: 100%;
  position: relative;
}

.sc-page-1-container {
  width: 30%;
  float: left;
  border-radius: 25px;
  border: 1px solid #000000;
  position: fixed;
  overflow-y: scroll;
  max-height: 80vh;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sc-page-1-intro {
  margin: 15%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sc-page-1-container::-webkit-scrollbar {
  display: none;
}
.sc-page-2-container {
  width: 60%;
  float: right;
}
.sc-page-2-images img {
  width: 100%;
}

.sc-page-2-images {
  float: left;
  overflow: hidden;
  margin: 3% 10% 10% 10%;
  width: 80%;
}

@media screen and (max-width: 820px) {
  .boxes {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .row {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .sc-page {
    flex-direction: column;
  }
  .sc-page-1-container {
    width: 100%;
    position: relative;
  }
  .sc-page-2-container {
    width: 100%;
    flex-direction: column;
    float: left;
  }
}

marquee {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .boxes {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .row {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
  .wrapper {
    margin: 0 2rem;
  }
  .sc-page {
    flex-direction: column;
  }
  .sc-page-1-container {
    width: 100%;
    position: relative;
  }
  .sc-page-2-container {
    width: 100%;
    flex-direction: column;
    float: left;
  }
}

.contact span:hover {
  background-color: #d3d3d3;
}

.box-about:hover,
.video:hover,
.writing:hover,
.concern:hover {
  /*animation: tilt-shaking 0.25s infinite;*/
    transform: scale(2);
    box-shadow: 0 0 50px 15px #d3d3d3;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#container { margin: 0%; }

#circle { position: relative; }

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 10px;}

#circle svg { position: absolute; left: 0; top: 0; 

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 10s;
     -moz-animation-duration: 10s;
      -ms-animation-duration: 10s;
       -o-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(360deg); }
    to { -webkit-transform: rotate(0); }
}
@-moz-keyframes rotate {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    from { -ms-transform: rotate(360deg); }
    to { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    from { -o-transform: rotate(360deg); }
    to { -o-transform: rotate(0); }
}
@keyframes rotate {
    from { transform: rotate(360deg); }
    to { transform: rotate(0); }
}


/*TOP SECRET CSS*/



