/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/

/* 
  The style rules specify elements by type and by attributes such as class and ID
  Each section indicates an element or elements, then lists the style properties to apply
  See if you can cross-reference the rules in this file with the elements in index.html
*/

/* Our default values set as CSS variables */
:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Arial";
  --font-family-header: "Arial";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: helvetica;
}
@font-face {
  font-family: helvetica;
  font-weight: bold;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: helvetica;
  background-color: var(--color-bg);
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: center;
  margin: 0 10rem;
}
}
.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.title {
    font-weight: normal;
    margin: 0;
    font-size: 1em;
    padding-top: 3.5em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#food {
  max-height: 50px;
  overflow-y: hidden;
}

.concern {
  height: 30px;
  width: 30px;
  float: left;
  /*border: 1px solid #8C3836;*/
  background-color: #F79646;   
}
.video {
  height: 30px;
  width: 30px;
  float: left;
  /*border: 1px solid #8C3836;*/
  background-color: #C0504D;  
  
}
.writing {
  height: 30px;
  width: 30px;
  float: left;
  /*border: 1px solid #357D91;*/
  background-color: #4BACC6; 
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}
a:hover {
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
}

/* Instructions */
.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
    margin: 5em 0 0;
}

.box-about {
  width: 100%;
    position: relative;
    padding: 50px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 25px;
    border: 1px solid #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    float: left;
}

.box-video {
    width: 100%;
    position: relative;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 25px;
    /*border: 2px solid #8C3836;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    float: left;
    background-color: #C0504D;  
}
.box-concern {
    width: 100%;
    position: relative;
    padding: 15px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 25px;
    /*border: 2px solid #B66D31;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    float: left;
    background-color: #F79646;  
}
.box-writing {
    width: 100%;
    position: relative;
    padding: 50px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 25px;
    /*border: 2px solid #357D91;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    float: left;
    background-color: #4BACC6;  
}
 {
    box-sizing: border-box;
}

img {
    max-width: 75%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

@media screen and (max-width: 768px) {
  .boxes {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
   }

  .cell-1, .cell-2, .cell-3, .cell-4, .cell-5, .cell-6 {
    grid-column: auto;
    grid-row: auto;
  }
}
/* Button dip
- Toggling this class on and off will move it down and up again
- The button transition property above determines the speed of the translate (500ms)
*/
.dipped {
  transform: translateY(5px);
}

/* Links that open files in the editor */
.fileopener {
  cursor: pointer;
  font-weight: bold;
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-secondary);
}
.fileopener:hover {
  border-bottom: 3px solid var(--color-secondary);
}
