/* Our default values set as CSS variables */
:root {
  --color-bg: white;
  --color-text-main: #000000;
  --color-primary: #ffff00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "helvetica";
  --font-family-header: "helvetica";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: helvetica;
}
@font-face {
  font-family: helvetica;
  font-weight: bold;
}

/******************************************************************************
END Glitch hello-app default styles
******************************************************************************/

body {
  font-family: helvetica;
  background-color: #fcfbf5;
}

/* Page structure */
.wrapper {
  min-height: var(--wrapper-height);
  display: grid;
  place-items: top;
  margin: 0 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
}

.title {
    font-weight: normal;
    margin: 0;
    font-size: 1em;
    padding-top: 1em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#food {
  max-height: 50px;
  overflow-y: hidden;
}

.concern {
  height: 30px;
  width: 80px;
  float: left;
  /*border: 1px solid #8C3836;*/
  background-color: #F79646;   
}
.video {
  height: 30px;
  width: 80px;
  float: left;
  /*border: 1px solid #8C3836;*/
  background-color: #C0504D;  
  
}
.writing {
  height: 30px;
  width: 10px;
  float: left;
  /*border: 1px solid #357D91;*/
  background-color: #4BACC6; 
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    -webkit-font-smoothing: antialiased;
    font-size: 1em;
    line-height: 1.6;
    text-align: center;
    margin: 5em 0 0;  
}

.box-about {
    /* webkit-filter: blur(1px); /* Chrome, Safari, Opera 
    filter: blur(1px); */
    width: 100%;
    position: relative;
    padding: 50px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 25px;
    border: 1px solid #000000;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
  
}

.box-video {     
    /* webkit-filter: blur(1px); /* Chrome, Safari, Opera 
    filter: blur(1px); */
    width: 100%;
    position: relative;
    padding: 15px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 25px;
    /*border: 2px solid #8C3836;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #C0504D;  
}
.box-concern {     
    /* webkit-filter: blur(1px); /* Chrome, Safari, Opera 
    filter: blur(1px); */
    width: 100%;
    position: relative;
    padding: 15px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 25px;
    /*border: 2px solid #B66D31;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #F79646;  
}
.box-writing {     
    /* webkit-filter: blur(1px); /* Chrome, Safari, Opera 
    filter: blur(1px); */
    width: 100%;
    position: relative;
    padding: 50px;
    overflow: hidden;
    overflow-y: auto;
    border-radius: 25px;
    /*border: 2px solid #357D91;*/
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #4BACC6;  
}
 {
    box-sizing: border-box;
}

.boxes img {  
    max-width: 75%;
    max-height: 50%;
    overflow: clip;
    overflow-clip-margin: content-box;
    margin: auto;
    display: block;
   border-radius: 50%;
}

	.row {
	  display: grid;
    grid-template-columns: auto 2fr;
    grid-gap: 45px;
    align-items: start;
    
	}
	.column {
    float:left;
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 50px;
      position: relative;

	}

	.column img{
    
    overflow: clip;
    overflow-clip-margin: content-box;
    margin: auto;
    display: block;
   border-radius: 1%;
	}

@media screen and (max-width: 820px) {
  .boxes {
      grid-template-columns: auto;
      grid-template-rows: auto;
   }
    .row {
      grid-template-columns: auto;
      grid-template-rows: auto;
   }


}
@media screen and (max-width: 768px) {
  .boxes {
      grid-template-columns: auto;
      grid-template-rows: auto;
   }
   .row {
      grid-template-columns: auto;
      grid-template-rows: auto;
   }
  .wrapper{
    margin:  0 5rem;
  }
  }

.box-about:hover, .box-video:hover, .box-writing:hover, .box-concern:hover {
     /*  box-shadow: 5px 5px 8px blue, 10px 10px 8px red, 15px 15px 8px green; 
      transform: scale(1.5);    
      border-radius: 0px 25px 25px 25px;
      webkit-filter: blur(0px); 
    filter: blur(0px);
*/
    animation: tilt-shaking 0.25s infinite;
    
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}

.concern:hover, .video:hover, .writing:hover  {
    transform: scale(2);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  align-content: start;
  max-width: 700px;
  margin: 0 auto;
  transition: all 150ms linear;
}

.gallery input[type="radio"] {
  display: none;
}

.gallery label {
  position: relative;
  display: block;
  padding-bottom: 60%;
  margin: 5px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.gallery label:before {
  border: 1px solid #F79646;
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: -5px;
  top: -5px;
}

.gallery img {
  display: none;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 100%;
  transition: all 150ms linear;
}

.gallery input[name="select"]:checked + label + img {
  display: block;
}

.gallery input[name="select"]:checked + label:before {
  background-color: #F79646;   
}
